<header>
    <!-- //header background -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark"> 
        <!-- Header contents -->
        <div><a href="http://www.todoFullstack.com" class="navbar-brand">todoFullstack</a></div>
    
        <ul class = "navbar-nav">
            <li><a href="/welcome/sathvick" class="nav-link">Home</a> </li>
            <li><a href="/todos" class="nav-link">Todos</a> </li>
        </ul>
        <!-- to make login and logiut appear at the end -->
        <ul class = "navbar-nav navbar-collapse justify-content-end">
            <li><a href="/login" class="nav-link">Login</a> </li>
            <li><a href="/logout" class="nav-link">logout</a> </li>
        </ul>
    </nav>
</header>


Top Menu <br> <br>
